{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Instrucciones del juego: Bloque 1
{% endblock %}

{% block content %}

    <p>
        Usted será asignado de manera aleatoria a uno de los tres grupos.<br>
        Usted jugará SOLAMENTE con sus tres compañeros de grupo.<br>
        <br>
        Cada grupo tiene a su disposición 20 unidades de un recurso compartido para cada ronda.<br>
        Cada unidad que usted decida extraer le generará un beneficio de un (1) punto. Este beneficio es sólo para usted.<br>
        Cada unidad que no sea extraída por ningún miembro del grupo generará un beneficio de 1.4 puntos a dividir en partes
        iguales entre todos.<br>
        Esto es, un beneficio de 0.35 puntos para cada participante.<br>
        Cada miembro del grupo tendrá derecho a extraer entre cero (0) y cinco (5) unidades del recurso por ronda.<br>
        <br>
        Su pago, en cada ronda, será: <br>
        <strong>un (1) punto por cada unidad extraída, más 0.35 puntos por cada unidad remanente en el recurso compartido.</strong><br>
        <br>
        <hr>
    </p>


    <p>
        <h4>Ejemplo 1:</h4><br>
        Suponga que usted decidió extraer 1 unidad del recurso compartido.<br>
        Luego que todos decidieran cuánto extraer quedan 16 unidades del recurso compartido.<br>
        <br>
        Sus ganancias serían: 1 punto + 0.35 x 16 puntos = 6.6 puntos.<br>
        <br>
        <hr>
        <h4>Ejemplo 2:</h4><br>
        Suponga que usted decidió extraer 4 unidades del recurso compartido.<br>
        Luego que todos decidieran cuánto extraer quedan 4 unidades del recurso compartido.<br>
        <br>
        Sus ganancias serían: 4 puntos + 0.35 x 4 puntos = 5.4 puntos.<br>
        <br>
    </p>



    {% next_button %}

{% endblock %}

{% block form %}

{% endblock %}

