{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   RESPUESTA A PREGUNTA DE COMPRENSIÓN
{% endblock %}

{% block content %}

    <p>
        Su respuesta <span  class="text-info">{{ player.question }}</span> fue {% if player.question_correct %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>

    <p>
        Suponga que usted extrajo 3 unidades. Luego que todos decidieran cuánto extraer, quedaron 10 unidades del
        recurso compartido. ¿Cuales son sus ganancias?
    </p>

    <p>
        <strong>Solución: 6.5</strong>
    </p>

    <p>
        <strong>Explicación:</strong> 3 puntos + 0.35 * 10 puntos = 6.5 puntos
    </p>

<div class="box effect7">

    <p>
        EJEMPLO 1:
    </p>

    <p>
        Suponga que usted decidió extraer 1 unidad del recurso compartido. Luego que todos decidieran cuánto extraer
        quedan 16 unidades del recurso compartido.
    </p>

    <p>
        Sus ganancias serían: 1 punto + 0.35 * 16 puntos = 6.6 puntos.
    </p>

    <p>
        EJEMPLO 2:
    </p>

    <p>
        Suponga que usted decidió extraer 4 unidades del recurso compartido. Luego que todos decidieran cuánto extraer
        quedan 4 unidades del recurso compartido.
    </p>

    <p>
        Sus ganancias serían: 4 punto + 0.35 * 4 puntos = 5.4 puntos.
    </p>

</div>

    {% next_button %}

{% endblock %}

