{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    BIENVENIDO
{% endblock %}

{% block content %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>

<div class="instructions well well-lg" style="">

     <p>
        Agradecemos su asistencia. Por su presencia el día de hoy ha ganado $5.000 pesos que serán sumados a las
        ganancias finales que obtenga en esta actividad.
    </p>

    <p>
        La actividad consta de dos bloques, cada uno compuesto por diez (10) rondas de un juego. El juego en ambos bloques
        es similar, y sólo se diferencian en una regla que se anunciará posteriormente. Para cada juego las doce (12)
        personas en la sesión serán divididas en tres (3) grupos de cuatro (4) jugadores.
    </p>

    <p>
        Usted será asignado aletoariamente a uno de los grupos en cada bloque.
        Esto quiere decir que usted hará parte de un grupo diferente en cada bloque.
        En ningún momento sabrá quienes son sus compañeros de equipo.
    </p>

    <p>
        Al final se seleccionarán al azar una ronda de cada bloque. Usted recibirá las ganancias acumuladas en las dos
        rondas seleccionadas, más los $5,000 pesos que ganó por su asistencia puntual. En el juego ustéd podrá ganar puntos
        de acuerdo a sus decisiones y a las decisciones de los demás participantes. Cada punto que obtenga durante la actividad
        será pagado a $500 pesos.
    </p>

</div>

    {% next_button %}

{% endblock %}
