{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Pregunta de comprensión
{% endblock %}

{% block content %}

    <p>
        Suponga que usted extrajo 3 unidades.<br>
        Luego que todos decidieran cuánto extraer, quedaron 10 unidades del recurso compartido.<br>
    </p>

    {% formfield player.question with label="¿Cuáles son sus ganancias?" %}

    {% next_button %}

    {% include 'MLG_Intro/Instrucciones.html' %}

{% endblock %}

{% block form %}

{% endblock %}

