{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Solución a la pregunta de comprensión
{% endblock %}

{% block content %}

    <p>
        Su respuesta <span  class="text-info">{{ player.question }}</span> fue {% if player.question_correct %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>
    <hr>
    <p>
        <b>Pregunta:</b><br>
        Suponga que usted extrajo 3 unidades.<br>
        Luego que todos decidieran cuánto extraer, quedaron 10 unidades del recurso compartido.<br>
        <br>
        <b>¿Cuales son sus ganancias?</b><br>
    </p>
    <hr>
    <p>
        <strong>Solución: 6.5</strong>
    </p>

    <p>
        <strong>Explicación:</strong><br>
        [3 puntos de extracción] + [0.35 x 10 puntos de recurso compartido] = 6.5 puntos
    </p>

    {% next_button %}

    {% include 'MLG_Intro/Instrucciones.html' %}

{% endblock %}

