{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    ENCUESTA, Pg. 1 de 4.
{% endblock %}

{% block content %}

    <p>
        Por favor, responda las siguientes preguntas para poder proceder a su pago.
    </p>

<div class="box effect7">

    <p>
        Para cada una de las siguientes preguntas señale la opción que le parezca más apropiada.
    </p>

    {% formfield player.g_pref_stage %}
    {% formfield player.g_pref_rk_1 %}
    {% formfield player.g_pref_rk_2 %}

</div>


    {% next_button %}

{% endblock %}


