{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    ENCUESTA, Pg. 4 de 4.
{% endblock %}

{% block content %}

    <p>
        Por favor, responda las siguientes preguntas para poder proceder a su pago.
    </p>

<div class="box effect7">

    <p>
        Para cada una de las siguientes preguntas señale la opción que le parezca más apropiada.
    </p>

    {% formfield player.p_trust_1 %}
    {% formfield player.p_trust_2 %}
    {% formfield player.p_trust_3 %}
    {% formfield player.p_trust_4 %}
    {% formfield player.p_trust_5 %}

</div>


    {% next_button %}

{% endblock %}


