{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    DECISIÓN DE EXTRACCIÓN, RONDA {{ subsession.round_number }} DE 10 (BLOQUE 2)
{% endblock %}

{% block content %}

    {% formfield player.extraction with label="¿Cuánto unidades desea extraer del recurso compartido?" %}

<div class="box effect7">

    <p>
        {% if subsession.round_number == 1 %}<b>Sus tres compañeros de grupo en este segundo bloque son diferentes
        de los que tenía durante el primer bloque</b>. Estos nuevos compañeros serán los mismos durante todo el bloque.
        {% else %}Su grupo será el mismo durante todo este segundo bloque{% endif %}
    </p>

    <p>
        Cada grupo tiene a su disposición 20 unidades de un recurso compartido en cada ronda.
        Cada unidad que usted decida extraer le generará un beneficio de un (1) punto. Este beneficio es sólo para usted.
        Cada unidad que no sea extraía le generará un beneficio de 0.35 puntos para cada miembro de su grupo.
        Cada miembro del grupo tendrá derecho a extraer entre cero (0) y cinco unidades del recurso por ronda.
    </p>

    <p>
        Sus ganancias parciales serán: [Unidades extraídas] + 0.35 * [Unidades remanentes en el recurso compartido].
        Las ganancias parciales de los miembros de cada grupo serán sumadas para determinar el ranking grupal.
        Para calcular sus ganancias finales (de la ronda), sus ganancias parciales serán ponderadas con un MULTIPLICADOR
        que depende del ranking de su grupo.
    </p>

    <table class="table-condensed" style="width:500px; margin-top:20px;">
    <tr><td><strong>Ranking</strong></td><td><strong>Multiplicador</strong></td></tr>
    <tr><td>1 (mayores ganancias):</td><td>1.10 (10% más de ganancia)</td></tr>
    <tr><td>2:</td><td>1.00 (ganancias no se afectan)</td></tr>
    <tr><td>3 (menores ganancias):</td><td>0.90 (10% menos de ganancias)</td></tr>
    </table>

</div>

    {% next_button %}

{% endblock %}
