{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    INSTRUCCIONES DE JUEGO: BLOQUE 2
{% endblock %}

{% block content %}


<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>

<div class="instructions well well-lg" style="">

    <p>
        Para este nuevo bloque de 10 rondas usted será asignado a un nuevo grupo de cuatro (4) jugadores.
    </p>

    <p>
        Las reglas de extracción son idénticas a las del <strong>BLOQUE 1.</strong>
        Cada grupo tiene a su dispoción 20 unidades de un recurso compartido en cada ronda.
        Cada unidad que usted decida extraer le generará un beneficio de un (1) punto. Este beneficio es sólo para usted.
        Cada unidad que no sea extraía por ningún miembro del grupo generará un beneficio de 1.4 puntos a dividir en partes
        iguales entre todos. Esto es, un beneficio de 0.35 puntos para cada participante.
        Cada miembro del grupo tendrá derecho a extraer entre cero (0) y cinco unidades del recurso por ronda.
    </p>

    <p>
        Para este bloque se cambia la regla de pago.
        Sus ganancias parciales serán: [Unidades extraídas] + 0.35 * [Unidades remanentes en el recurso compartido].
        Las ganancias parciales de los miembros de cada grupo serán sumadas para determinar el ranking grupal.
        Para calcular sus ganancias finales (de la ronda), sus ganancias parciales serán ponderadas con un MULTIPLICADOR
        que depende del ranking de su grupo.
    </p>

    <table class="table-condensed" style="width:500px; margin-top:20px;">
    <tr><td><strong>Ranking</strong></td><td><strong>Multiplicador</strong></td></tr>
    <tr><td>1 (mayores ganancias):</td><td>1.10 (10% más de ganancia)</td></tr>
    <tr><td>2:</td><td>1.00 (ganancias no se afectan)</td></tr>
    <tr><td>3 (menores ganancias):</td><td>0.90 (10% menos de ganancias)</td></tr>
    </table>

</div>

<div class="instructions well well-lg" style="">

    <p>
        i. Si su grupo es el <strong>primer</strong> (mejor) grupo: Ganancias finales = 1.10 * ganancia parcial
    </p>

    <p>
        ii. Si su grupo es el <strong>segundo</strong> grupo: Ganancias finales = 1.00 * ganancia parcial
    </p>

    <p>
        iii. Si su grupo es el <strong>tercer</strong> (peor) grupo: Ganancias finales = 0.90 * ganancia parcial
    </p>

    <p>
        ______________________________________________________________________________________________
    </p>

    <p>
        En caso de presentarse un <strong>empate</strong> en el ranking de dos o más grupos, se ponderará el multiplicador
        correspondiente a dichas posiciones en el ranking:
    </p>

    <p>
        -      i. Si hay dos (2) grupos empatados en el primer lugar entonces el multiplicador es (1.10+1.00) / 2 = 1.05
    </p>

    <p>
        -      ii. Si hay dos (2) grupos empatados en el tercer lugar entonces el multiplicador es (1.00+0.90) / 2 = 0.95
    </p>

    <p>
        -      iii. Si hay tres (3) grupos empatan entonces el multiplicador es (1.10+1.00+0.90) / 3 = 1.00
    </p>

</div>

<div class="box effect7">

    <p>
        EJEMPLO 1:
    </p>

    <p>
        Suponga que usted decidió extraer 3 unidades del fondo común, y que luego que todos decidieran cuánto extraer
        quedan 8 unidades en el fondo común.
    </p>

    <p>
        Sus ganancias parciales serían: 3 puntos + 0.35 * 8 puntos = 5.8 puntos.
    </p>

    <p>
        La suma de las ganancias parciales de los cuatro miembros de su grupo es de 23.2. La suma de las ganancias parciales
        de los otros dos grupos son 20.4 y 22.8, por lo que el ranking de su grupo es el 1.
    </p>

    <p>
        Sus ganancias finales de la ronda serían 1.10 * 5.8 puntos =  6.4 puntos
    </p>

    <p>
        ______________________________________________________________________________________________
    </p>


    <p>
        EJEMPLO 2:
    </p>

    <p>
        Suponga que usted decidió extraer 3 unidades del fondo común, y que luego que todos decidieran cuánto extraer
        quedan 8 unidades en el fondo común.
    </p>

    <p>
        Sus ganancias parciales serían: 3 puntos + 0.35 * 8 puntos = 5.8 puntos.
    </p>

    <p>
        La suma de las ganancias parciales de los cuatro miembros de su grupo es de 23.2. La suma de las ganancias parciales
        de los otros dos grupos son 25.2 y 28.0, por lo que el ranking de su grupo es el 3.
    </p>

    <p>
        Sus ganancias finales de la ronda serían 0.90 * 5.8 puntos =  5.2 puntos
    </p>

</div>

    {% next_button %}

{% endblock %}
