{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instrucciones de juego: Bloque 1
{% endblock %}

{% block content %}

    <p>
        Usted será asignado de manera aleatoria a uno de los tres grupos.<br>
        Cada grupo tiene a su disposición 20 unidades de un recurso compartido en cada ronda.<br>
        Cada unidad que usted decida extraer le generará un beneficio de un (1) punto. Este beneficio es sólo para usted.<br>
        Cada unidad que no sea extraía por ningún miembro del grupo generará un beneficio de 1.4 puntos a dividir en partes
        iguales entre <br>
        Esto es, un beneficio de 0.35 puntos para cada participante.<br>
        Cada miembro del grupo tendrá derecho a extraer entre cero (0) y cinco (5) unidades del recurso por ronda.<br>
        <br>
        Su pago <b>parcial</b>, en cada ronda, será: <br>
        <strong>un (1) punto por cada unidad extraída, más 0.35 puntos por cada unidad remanente en el recurso compartido.</strong><br>
        <br>
        Las ganancias parciales de los miembros de cada grupo serán sumadas para determinar el ranking grupal.<br>
        Para calcular sus ganancias finales (de la ronda), sus ganancias parciales serán ponderadas con un <b>multiplicador.</b><br>
        Este <b>multiplicador</b> depende del ranking de su grupo.<br>
        <br>
        Su pago <b>final</b>, en cada ronda, será:
        <strong>multiplicador x (pago parcial).</strong>
    </p>

    <table class="table-condensed" style="width:500px; margin-top:20px;">
    <tr><td><strong>Ranking</strong></td>
        <td><strong>Multiplicador</strong></td></tr>
    <tr><td>1 (mayores ganancias):</td><td>1.10 (10% más de ganancias)</td></tr>
    <tr><td>2</td><td>1.00 (ganancias no se afectan)</td></tr>
    <tr><td>3 (menores ganancias):</td><td>0.90 (10% menos de ganancias)</td></tr>
    </table>

    <p>
        <hr>
        ¿Qué pasa si dos o más grupos <strong>empatan</strong> en el ranking?<br>
        Se ponderará el multiplicador correspondiente a dichas posiciones en el ranking:<br>
        <br>
        i. Si hay dos (2) grupos empatados en el primer lugar entonces el multiplicador es (1.10+1.00) / 2 = 1.05  <br>
        ii. Si hay dos (2) grupos empatados en el tercer lugar entonces el multiplicador es (1.00+0.90) / 2 = 0.95  <br>
        iii. Si hay tres (3) grupos empatan entonces el multiplicador es (1.10+1.00+0.90) / 3 = 1.00 <br>
        <br>
    </p>


    <p>
        <hr>
        <h4>Ejemplo 1:</h4><br>
        Suponga que usted decidió extraer 3 unidades del recurso compartido.<br>
        Luego que todos decidieran cuánto extraer quedan 8 unidades en el recurso compartido.<br>
        <br>
        Sus ganancias parciales serían: 3 puntos + 0.35 x 8 puntos = 5.8 puntos.
        <br>
        La suma de las ganancias parciales de los cuatro miembros de su grupo es de 23.2.<br>
        La suma de las ganancias parciales de los otros dos grupos son 20.4 y 22.8.<br>
        El ranking de su grupo es el 1.<br>
        <br>
        Sus ganancias finales serían 1.10 x 5.8 puntos =  6.4 puntos.<br>
        <br>
        <hr>
        <h4>Ejemplo 2:</h4><br>
        Suponga que usted decidió extraer 3 unidades del recurso compartido.<br>
        Luego que todos decidieran cuánto extraer quedan 8 unidades en el recurso compartido.<br>
        <br>
        Sus ganancias parciales serían: 3 puntos + 0.35 x 8 puntos = 5.8 puntos.
        <br>
        La suma de las ganancias parciales de los cuatro miembros de su grupo es de 23.2.<br>
        La suma de las ganancias parciales de los otros dos grupos son 25.2 y 28.0.<br>
        El ranking de su grupo es el 3.<br>
        <br>
        Sus ganancias finales serían 0.90 x 5.8 puntos =  5.2 puntos
    </p>


    {% next_button %}

{% endblock %}
