{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Bienvenido
{% endblock %}

{% block content %}

     <p>
        Agradecemos su asistencia. Por su presencia el día de hoy ha ganado $5.000 pesos.<br>
        Estos serán sumados a las ganancias finales que obtenga en esta actividad.<br>
        <br>
        La actividad consta de dos bloques, cada uno compuesto por diez (10) rondas de un juego. <br>
        El juego en ambos bloques es similar, y sólo se diferencian en una regla que se anunciará posteriormente.<br>
        Para cada juego las doce (12) personas en la sesión serán divididas en tres (3) grupos de cuatro (4) jugadores.<br>
        <br>
        Usted será asignado aletoariamente a uno de los grupos en cada bloque.<br>
        Esto quiere decir que usted hará parte de un grupo diferente en cada bloque.<br>
        En ningún momento sabrá quienes son sus compañeros de equipo.<br>
        <br>
        Al final se seleccionarán uno de los bloques aleatoriamente.<br>
        Usted recibirá las ganancias acumuladas en el bloque seleccionado, más los $5,000 pesos que ganó por su asistencia puntual.<br>
        En el juego ustéd podrá ganar puntos de acuerdo a sus decisiones y a las decisiones de los demás participantes.<br>
        Cada punto que obtenga durante la actividad será pagado a $300 pesos.<br>
        <br>
    </p>


    {% next_button %}

{% endblock %}
