{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    RESPUESTA A PREGUNTA DE COMPRENSIÓN
{% endblock %}

{% block content %}

    <p>
        Su respuesta <span  class="text-info">{{ player.question_1 }}</span> de las ganancias PARCIALES de la ronda fue {% if player.question_correct_1 %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>

    <p>
        Su respuesta <span  class="text-info">{{ player.question_2 }}</span> de las ganancias FINALES de la ronda fue {% if player.question_correct_2 %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>
    <hr>
    <p>
        <b>Pregunta:</b><br>
        Suponga que usted extrajo 3 unidades.<br>
        Luego que todos decidieran cuánto extraer, quedaron 10 unidades del recurso compartido.<br>
        <br>
        La suma de sus ganancias parciales y las de los otros tres miembros de su grupo es de 24.0<br>
        La suma de las ganancias parciales de los otros dos grupos es de 23.2 y 22.0.<br>
    </p>

    <p>
        ¿Cuales son sus ganancias PARCIALES Y FINALES de la ronda?
    </p>

    <p>
        <strong>Solución:</strong><br>
        Las ganancias PARCIALES son 6.5. <br>
        Las ganancias FINALES 7.2.
    </p>

    <p>
        <strong>Explicación:</strong><br>
        Ganancias PARCIALES = [3 puntos de extracción] + [0.35 x 10 puntos de recurso compartido] = 6.5 puntos.<br>
        Su grupo tiene las mayores ganancias de todos los grupos. El ranking correspondiente es 1 y el multiplicador 1.10.<br>
        Por lo tanto: Ganancias FINALES = 1.10 x 6.5 = 7.2
    </p>


    {% next_button %}

    {% include 'MLG_Intro_B/Instrucciones2.html' %}

{% endblock %}


