{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    RESPUESTA A PREGUNTA DE COMPRENSIÓN
{% endblock %}

{% block content %}

    <p>
        Su respuesta <span  class="text-info">{{ player.question_1 }}</span> de las ganancias PARCIALES de la ronda fue {% if player.question_correct_1 %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>

    <p>
        Su respuesta <span  class="text-info">{{ player.question_2 }}</span> de las ganancias FINALES de la ronda fue {% if player.question_correct_2 %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>

    <p>
        <b>El problema:</b><br>
        Suponga que usted extrajo 3 unidades, y que luego de las extracción de los otros tres jugadores quedaron
        10 unidades en el fondo común.
    </p>

    <p>
        La suma de sus ganancias parciales y las de los otros tres miembros de su grupo es de 24.0
        La suma de las ganancias parciales de los otros dos grupos es de 23.2 y 22.0
    </p>

    <p>
        ¿Cuales son sus ganancias PARCIALES Y FINALES de la ronda?
    </p>

    <p>
        <strong>Solución:</strong><br>
        Las ganancias PARCIALES son 6.5. <br>
        Las ganancias FINALES 7.2.
    </p>

    <p>
        <strong>Explicación:</strong> Sus ganancias parciales son 3 + 0.35 x 10 = 6.5 puntos. Como su grupo tiene las mayores
        ganancias de todos los grupos, el ranking es 1 y el multiplicador 1.10. Por lo tanto sus Ganancias finales = 1.10 x 6.5 = 7.2
    </p>


<div class="box effect7">
     <p>
        Cada grupo tiene a su disposición 20 unidades de un recurso compartido en cada ronda.
        Cada unidad que usted decida extraer le generará un beneficio de un (1) punto. Este beneficio es sólo para usted.
        Cada unidad que no sea extraía le generará un beneficio de 0.35 puntos para cada miembro de su grupo.
        Cada miembro del grupo tendrá derecho a extraer entre cero (0) y cinco (5) unidades del recurso por ronda.
    </p>

    <p>
        Sus ganancias parciales serán: [Unidades extraídas] + 0.35 x [Unidades remanentes en el recurso compartido].
        Las ganancias parciales de los miembros de cada grupo serán sumadas para determinar el ranking grupal.
        Para calcular sus ganancias finales (de la ronda), sus ganancias parciales serán ponderadas con un MULTIPLICADOR
        que depende del ranking de su grupo.
    </p>

    <table class="table-condensed" style="width:500px; margin-top:20px;">
    <tr><td><strong>Ranking</strong></td><td><strong>Multiplicador</strong></td></tr>
    <tr><td>1 (mayores ganancias):</td><td>1.10 (10% más de ganancia)</td></tr>
    <tr><td>2:</td><td>1.00 (ganancias no se afectan)</td></tr>
    <tr><td>3 (menores ganancias):</td><td>0.90 (10% menos de ganancias)</td></tr>
    </table>

</div>

    {% next_button %}
{% endblock %}


