{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   RESPUESTA A PREGUNTA DE COMPRENSIÓN
{% endblock %}

{% block content %}

    <p>
        Su respuesta <span  class="text-info">{{ player.question }}</span> fue {% if player.question_correct %}<span class="text-success">correcta</span>
        {% else %}<span class="text-danger">incorrecta.</span>{% endif %}
    </p>

    <p>
        Suponga que usted extrajo 3 unidades. Luego que todos decidieran cuánto extraer, quedaron 10 unidades del
        recurso compartido. ¿Cuales son sus ganancias?
    </p>

    <p>
        <strong>Solución: 6.5</strong>
    </p>

    <p>
        <strong>Explicación:</strong> 3 puntos + 0.35 * 10 puntos = 6.5 puntos
    </p>


<div class="box effect7">

    <p>
        INSTRUCCIONES
    </p>

    <p>
        Usted está en un grupo con otros tres (3) participantes. El grupo será el mismo durante todo el bloque. Usted tiene
        derecho a extraer entre cero (0) y cinco (5) unidades del recurso compartido.
    </p>

    <p>
        Cada unidad que usted decida extraer generará un beneficio de 1 punto. Este beneficio es solo para usted.
        Cada unidad que no sea extraída generará un beneficio de 0.35 puntos para cada miembro del grupo.
    </p>

    <p>
        Su pago será = [Unidades extraidas] + 0.35 x [Unidades remanentes en el recurso compartido].
    </p>

</div>

    {% next_button %}

{% endblock %}

